$modal-background: #fff;

#root {
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  max-width: 800px;
}

.todo-list {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
  }

  &__button {
    width: 3em;
    align-self: flex-end;
  }
}

.todo {
  &__header {
    display: flex;
    align-items: center;
    width: 100%;

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
  }

  &__title {
    flex: 1;
    text-align: center;
    overflow: hidden;

    h4 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__buttons {
    button {
      margin: 0.2em;
    }
  }
}

.todo-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    padding: 2em;
    background: $modal-background;
    border: 0;
    border-radius: 0.5em;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__color-picker {
    display: flex;
    align-items: baseline;

    & > * {
      flex: 1;
      margin: 0.3em;
    }
  }

  &__footer {
    justify-content: flex-end;
    display: flex;
    & > * {
      margin: 0.2em;
    }
  }
}
